*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-image: url('public/img/sunny1.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.noche{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateZ(25deg);
}

.estrella{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 1px;
  width: 50px;
  background: linear-gradient(-45deg, #ffffffbe, rgba(0,0,255,0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #ffffffe5);
  animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
  opacity: 0;
}

@keyframes tail{
  0%{
    width: 0px;
  }
  30%{
    width: 100px;
    opacity: 1;

  }
  100%{
    width: 0px;
  }

}
@keyframes falling{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(300px);

  }

}

.estrella::before, .estrella::after{
  content: '';
  position: absolute;
  top:calc(50% - 1px);
  right: 0;
  height: 1px;
  width: 6px;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.582), #fafafa);
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3s ease-in-out infinite;
  opacity: 0;
}
@keyframes shining {
  0%{
    width: 0px;
    height: .5px;
  }
  30%{
    width: 6px;
    height: 1px;
    opacity: 1;

  }
  100%{
    width: 0px;
    height: .5px;

  }
}

.estrella::after{
  transform: translateX(50%) rotateZ(-45deg);
  
}
.estrella:nth-child(1){
  top: calc(50% - 250px);
  left: calc(50% - 250px);
  animation-delay: 2s;
}
.estrella:nth-child(1)::before, .estrella:nth-child(1)::after{
  animation-delay: 2s;
}
.estrella:nth-child(2){
  top: calc(50% - 160px);
  left: calc(50% - 500px);
  animation-delay: 3.2s;
}
.estrella:nth-child(2)::before, .estrella:nth-child(2)::after{
  animation-delay: 3.2s;
}
.estrella:nth-child(3){
  top: calc(50% - 350px);
  left: calc(50% - 0px);
  animation-delay: 4.4s;
}
.estrella:nth-child(3)::before, .estrella:nth-child(3)::after{
  animation-delay: 4.4s;
}
.estrella:nth-child(4){
  top: calc(50% - 280px);
  left: calc(50% - -80px);
  animation-delay: 5.6s;
}
.estrella:nth-child(4)::before, .estrella:nth-child(4)::after{
  animation-delay: 5.6s;
}
.estrella:nth-child(5){
  top: calc(50% - 0px);
  left: calc(50% - 650px);
  animation-delay: 6.8s;
}
.estrella:nth-child(5)::before, .estrella:nth-child(5)::after{
  animation-delay: 6.8s;
}


.app-wrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.6));
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}
header input{
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,0.3);
  border-radius: 16px 0 16px 0;
  border-bottom: 3px solid #DF8E00;

  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

Header input:focus{
  background-color: rgba(255,255,255,0.6);
}
main{
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  height: 100vh;
  margin-bottom: 50vh;
  border-radius: 10px;
  background-color: #6e6d6d73;
  box-shadow: 0 2px 5px 2px #313131;
}
.location{
  background-color: #dbdbdb13;
  padding: 1vw 2vh;
  border-radius: 2vh;
}
.location .city{
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location.date{
  color: #fff;
  font-size: 16px;

}
.current .temp{
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  margin:  30px 0;
  text-shadow: 2px 10px rgba(0,0,0,0.6);
}
.current .temp span{
  font-weight: 500;
}
.current .weather{
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px  rgba(0,0,0,0.4);
}

.current .container{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 5vw;
  text-align: justify;
}
.current .container ion-icon{
  font-size: 3vh;
  margin-right: 3vw;
}

.current .container .hi-low{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 3px rgba(0,0,0,0.2);
  margin-bottom: 0px;
  display: flex;
}
.current .container .wind{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 3px  rgba(0,0,0,0.2);
  margin-bottom: 0px; 
  display: flex;

}
.current .container .clouds{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 3px rgba(0,0,0,0.2);
  margin-bottom: 0px;
  display: flex;

}

.noche{
  z-index: -1;
}